<!DOCTYPE html>
<html>
	<body>
		<div class='container' style='width:80vw; background:rgba(0,0,0,0.03); margin:5% auto; padding:8% 0'>

			<h2 style='color:orange;width:70%; margin-left:15%'>Checklist</h2>
			<hr style='color:rgba(0,0,0,0.3);width:70%; margin-left:15%'/>

			<p style='margin:2% 0 4% 15%; width:70%; font-family:"Trebuchet MS", "sans-serif"; line-height: 1.5'>
				Hi <span style='color:#FFC04D'>{{name}}</span>, with Checklist you can set goals, keep track of them and boost productivity. Just one more step to
				complete your checklist registration. Kindly click on this link to activate your account.
			</p>

			<a href="http://{{server}}/account/activate/{{token_val}}" style='margin:5% 0 0 35%; padding:18px;box-sizing:border-box;background:#FFC04D; color:#fff; text-decoration:none; border-radius:5px'>
				Activate Your Account
			</a>
		</div>
	</body>
</html>