<!DOCTYPE html>
<html>
	<head>
		<title>Account Activated</title>
		<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
		<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="http://{{server}}/css/Home/accountactivated.css">
	</head>
	<body>

		<div class='divbody'>
			<div>
				<i class='em-svg em-grinning'></i>
			</div>
			<div>Your account has been successfully activated. Click <a href='http://{{server}}/login'>here</a> to login</div>
		</div>

	</body>
</html>