
<div style="margin:5% 15% 0 15%; font-family:Trebuchet MS,'sans-serif'; padding:50px 50px 20px 50px; box-sizing: border-box; width:70%; background:rgba(0,0,0,0.02);">
	
	<h1 style='color:orange;'>Checklist</h1>
	<hr style='color:rgba(0,0,0,0.3)'/>

	<div style='line-height:2; font-size:1.1em; color:rgba(0,0,0,0.7)'>
		Hey {{name}}, you have been unable to complete the project <b>{{projectname}}</b>.

		<div style='position:relative; left:20%; width:60%; height:40vh; background:url(cid:projectimg); background-size:cover; background-repeat: no-repeat; margin-top:3%; border-radius:5px; margin-top:30px'>
			
		</div>

		<p style='text-align:center; line-height:1; font-size:1.6em'>{{projectname}}</p>
		<p style='text-align:center; line-height:1; font-size:1.2em; color:rgba(0,0,0,0.7)'>{{no_c_tasks}} Completed Tasks</p>
		<p style='text-align:center; line-height:1; font-size:1.2em; color:rgba(0,0,0,0.7)'>{{no_u_tasks}} Uncompleted Tasks</p>
		<p style='text-align:center; line-height:1; font-size:1.2em; color:rgba(0,0,0,0.7)'>{{date}}</p>
		<p style='text-align:center; line-height:1; font-size:1.2em; color:rgba(0,0,0,0.7)'>{{time}}</p>
	</div>
</div>