.settingsbody {
  position: relative;
  top: 100px;
  left: 200px;
  width: 700px;
  height: 200px;
}
.settingsbody .setting {
  width: 100%;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
}
.settingsbody .setting p {
  font-family: 'Thasadith', sans-serif;
  font-size: 1.3em;
  width: 60%;
  color: rgba(0, 0, 0, 0.8);
}
.settingsbody .setting .switch {
  width: 75px;
  height: 37.5px;
  background: rgba(0, 0, 0, 0.2);
  z-index: 0;
  margin: 0;
  padding: 0;
  appearance: none;
  border: none;
  cursor: pointer;
  position: relative;
  top: 17px;
  border-radius: 100px;
}
.settingsbody .setting .switch:before {
  content: '';
  position: absolute;
  left: 1.875px;
  top: 1.875px;
  width: 71.25px;
  height: 33.75px;
  z-index: 1;
  background: #fff;
  border-radius: 95px;
}
.settingsbody .setting .switch:after {
  content: '';
  width: 33px;
  height: 33px;
  border-radius: 86px;
  z-index: 2;
  background: #fff;
  position: absolute;
  transition-duration: 500ms;
  top: 2.25px;
  left: 2.25px;
  box-shadow: 0 2px 5px #999999;
}
.settingsbody .setting .switchOn, .settingsbody .setting .switchOn:before {
  background: #46D964 !important;
}
.settingsbody .setting .switchOn:after {
  left: 42.375px;
}
