<!DOCTYPE html>
<html>
	<head>
		<title>Checklist- Reset Password</title>
		<link rel="stylesheet" type="text/css" href="http://{{server}}/css/Account/forgotpword.css">
	</head>
	<body>



		{% if flash_notifs is not empty %}
			{% for notif in flash_notifs %}
				<div class='alert alert-{{notif.type}}'>
					{{notif.message}} 
				</div>
			{% endfor %}
		{% endif %}

		<div class='container'>

			<h3>Password Reset</h3>
			<hr/>

			<p>
				Enter your new Password
			</p>
			
			<form action='http://{{server}}/account/changepassword' method='POST'>
				
				<input type="password" name="password" placeholder='Password'>

				<input type="hidden" name="id" value="{{ id }}">

				<input type='submit' value='Change Password'>
			</form>
		</div>
	</body>
</html>