

<div style="margin:5% 15% 0 15%; font-family:Trebuchet MS,'sans-serif'; padding:50px 50px 100px 50px; box-sizing: border-box; width:70%; background:rgba(0,0,0,0.02);">
	
	<h2 style='color:orange;'>Checklist</h2>
	<hr style='color:rgba(0,0,0,0.3)'/>

	<div style='line-height:2'>
		Hi {{user.fname}}, kindly click this link to change your password <br/>

		<a href="http://{{server}}/account/passwordreset/{{token}}">http://{{server}}/account/passwordreset/{{token}}</a>
	</div>

	<p style='position:relative; width:150px;float:right'>
		Regards,<br/>
		The Checklist Team
	</p>
</div>