<!DOCTYPE html>
<html>
	<head>
		<title>Checklist- Forgot Password</title>
		<link rel="stylesheet" type="text/css" href="http://{{server}}/css/Account/forgotpword.css">
	</head>
	<body>



		{% if flash_notifs is not empty %}
			{% for notif in flash_notifs %}
				<div class='alert alert-{{notif.type}}'>
					{{notif.message}} 
				</div>
			{% endfor %}
		{% endif %}

		<div class='container'>

			<h3>Lost Your Password?</h3>
			<hr/>

			<p>
				Enter Your email address to receive instructions to reset your password
			</p>
			
			<form action='http://{{server}}/account/sendpasswordmail' method='POST'>
				
				<input type="email" name="email" value="{{email}}" placeholder='Email Address' autofocus="">

				<input type='submit' value="Search">
			</form>
		</div>


		<script type="text/javascript" src='http://{{server}}/js/jquery-3.2.1.min.js'></script>
		<script type="text/javascript" src='http://{{server}}/js/Account/forgotpassword.js'></script>
	</body>
</html>