body
{
	overflow-x:hidden;
}

@mixin flexmixin()
{
	display: -webkit-box;  
 	display: -ms-flexbox; 
 	display: -moz-box;  
  	display: -webkit-flex; 
	display:flex;
}

.container
{
	position:relative;
	left:0%;
	width:80%;
	min-height:calc(100vh - 72px);
	// border:2px solid black;
	background: #fff;
	padding:5% 5%;

	form
	{		
		@include flexmixin();
		flex-direction:column;
		align-items: center;

		div.proj_img
		{
			width:25%;
			border:2px solid rgba(0,0,0,0.3);
			height:200px;
			border-radius:50%;
			border-bottom:5px solid rgba(0,0,0,0.3);
		}

		input[type="file"]
		{
			margin:27px 0 0 60px;
		}

		input[type="text"]
		{
			border:none;
			outline:none;
			border-bottom:1px inset rgba(#000, 50%);
			width:60%;
			font-family: 'Poppins', sans-serif;
			font-size:1.5em;
			margin:40px 0 0 0;
		}

		div.taskcontainer
		{
			margin:120px 0 0 0;
			width:60%;
			border:none;

			div.task
			{
				border:none;
				width:100%;
				margin:-119px 0 0 0;
				color:rgba(0,0,0,0.2);
				font-size:0.8em;
				height:150px;

				input[type="text"]
				{
					width:100%;				
					background:rgba(0,0,0,0.03);
					border-bottom:1px solid lighten(#000, 70%);
					padding:0 0 0 40px;
					box-sizing:border-box;

					&+p
					{
						position:relative;
						top:-31px;
						left:30px;
						width:2px;
						height:31px;
						border-left:1px solid red;
						border-right:1px solid red;
						margin:0;
					}
				}
			}
		}

		p.select
		{
			position:relative;
			top:-70px;
			font-family:Tahoma, "sans-serif";
		}

		div.due
		{
			margin:-70px 0 0 0 ;
			width:60%;
			@include flexmixin();

			div.date
			{
				width:47.5%;
				margin:0 2.5% 0 0;

				p
				{
					font-size:1.3em;
					font-family:Tahoma, "sans-serif";
					color:rgba(0,0,0,0.7);
				}			
			}

			div.time
			{
				@extend div.date;
				margin:0 0 0 2.5%;
			}

			input.datepicker
			{
				width:100%;
				border:1px solid rgba(0,0,0,0.4);
				padding:5px 7px;
				font-size:1.5em;
				border-radius:5px;
				margin:-12px 0 0 0 ;
				box-sizing: border-box;
				font-size:1em;
			}

			input.timepicker
			{
				@extend input.datepicker;
			}
		}

		input[type="submit"]
		{
			margin:40px 0 0 0;
			border:none;
			outline:none;
			background:rgba(#CC8400,0.7);
			padding:10px 30px;
			border-radius:10px;
			color:#fff;
			font-size:1.2em;
			font-family:Tahoma, "sans-serif";
			cursor: pointer;
		}
	}
}